In [13]:
data = []

In [14]:
import pandas as pd

def noSpaces(value):
    return value.replace(" ","")

original = pd.read_csv("user_submitted_data.csv")

data = pd.DataFrame(data)
data['character'] = data['character'].apply(noSpaces)

combined = pd.concat([original,data])

combined.to_csv("user_submitted_data.csv", index = False)

In [7]:
original['show'].value_counts()

TO    320
UA    239
AD    222
LA    160
C     125
BB    103
TB     88
RM     86
SL     45
Name: show, dtype: int64

In [8]:
combined['show'].value_counts()

TO    320
UA    239
AD    222
LA    160
C     125
BB    112
TB     88
RM     86
SL     45
Name: show, dtype: int64

In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("data/user_submitted_data.csv")

In [4]:
data

     show              character     x_coord     y_coord  storedLocally  id
0      UA  SirReginaldHargreeves -925.675676  854.430380              1   0
1      UA                   Pogo -736.486486 -791.139241              1   1
2      UA                  Grace  -87.837838 -689.873418              1   2
3      UA       LutherHargreeves  236.486486  474.683544              1   3
4      UA        DiegoHargreeves -628.378378  -94.936709              1   4
...   ...                    ...         ...         ...            ...  ..
1419   LA                   Zuko -348.367030  868.924961              1  77
1420   LA                   Iroh  908.242613  187.743002              1  78
1421   LA                  Azula -783.825816  638.753888              1  79
1422   LA                   Appa -335.925350 -894.683126              1  80
1423   LA                   Momo  902.021773 -885.351866              1  81

[1424 rows x 6 columns]

In [5]:
data.std()

x_coord          588.057807
y_coord          526.670792
storedLocally      0.000000
id                25.077964
dtype: float64

In [ ]:
data.groupby(['characte'])